<h1>Requests Stats for <%= @event.name %></h1>

<h2>Total Requests</h2>
  <div id="total_requests"><%= @event_total %></div>

<h2>Requests by Hour</h2>
  <ul id="requests_by_hour">
    <% @hour_breakdown.each do |hour, qty| %>
      <li class="index_list"> <%= hour.keys.first %> o'clock: <%= hour.values.first %> times </li>
    <% end %>
  </ul>